/* Reset default styles to ensure consistent rendering across browsers */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/* Colors */
:root {
  --primary-color: #ffc61e;
  --secondary-color: #1635c3;
  --text-color: #fff;
}

body {
  font-family: Montserrat, sans-serif;
}

/* Spacing */
.mt-5 {
  margin-top: 5px;
}

.mb-5 {
  margin-bottom: 5px;
}

/* Global */
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  margin: auto;
}

.sidebar-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  height: 854px;
  flex-shrink: 0;
  border-radius: 0px 64px 64px 0px;
  background: var(--background, #f4f7fa);
  padding: 44px 64px 64px 64px;
}

/* sidebar content */
.sidebar-logo {
  width: 393px;
  height: 221px;
  flex-shrink: 0;
  margin-bottom: 64px;
}

.sidebar_menu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 370px;
  height: 86px;
  border-radius: 16px;
  margin-bottom: 20px;
  padding: 0px 16px 0px 16px;
  cursor: pointer;
  background: #fff;
  box-shadow: 0px 12px 30px 0px rgba(8, 10, 10, 0.08);
  text-decoration: none;
}

.nav-link {
  text-decoration: none !important;
  color: var(--blue, #1635c3);

  /* Title 2 */
  font-size: 20px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.main-section {
  width: 70%;
  height: 854px;
  background: var(--background, #ffffffd8);
  padding: 44px 64px 44px 64px;
}

.nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nav-button{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
/* Global end */

/* Basic info section */
  
/* Basic info section */