/* Reset default styles to ensure consistent rendering across browsers */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/* Colors */
:root {
  --primary-color: #ffc61e;
  --secondary-color: #1635c3;
  --text-color: #fff;
  --button-disabled: rgba(0, 0, 0, 0.12);
  --typography-disabled: #c5ccd8;
  --typography-primary: #0b1323;
}

body {
  font-family: Montserrat, sans-serif;
}

/* Spacing */
.mt-5 {
  margin-top: 5px;
}

.mb-5 {
  margin-bottom: 5px;
}

/* Global */
.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  margin: auto;
}

.sidebar-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  height: 972px;
  flex-shrink: 0;
  border-radius: 0px 64px 64px 0px;
  background: var(--background, #f4f7fa);
  padding: 44px 64px 64px 64px;
}

/* sidebar content */
.sidebar-logo {
  width: 393px;
  height: 221px;
  flex-shrink: 0;
  margin-bottom: 64px;
}

.sidebar_menu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  justify-items: center;
  width: 370px;
  height: 86px;
  border-radius: 16px;
  margin-bottom: 20px;
  padding: 0px 16px 0px 16px;
  cursor: pointer;
  background: #fff;
  box-shadow: 0px 12px 30px 0px rgba(8, 10, 10, 0.08);
  text-decoration: none;
}

.nav-link {
  text-decoration: none !important;

  /* Title 2 */
  font-size: 20px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.main-section {
  width: 70%;
  height: 854px;
  background: var(--background, #ffffffd8);
  padding: 44px 64px 44px 64px;
}

.nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nav-button {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.fa-angle-left {
  color: var(--blue, #000000);
  font-size: 26px;
  margin-right: 10px;
}

.fa-info-circle {
  justify-content: center;
  color: var(--blue, #000000);
  font-size: 36px;
}

.back {
  display: flex;
  justify-content: center;
  align-items: center;
}

.callus-nav {
  width: 100px;
  height: 40px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid var(--outline, #c5ccd8);
}

.callus-nav a {
  color: var(--blue, #1635c3);

  /* Label 1 */
  font-size: 14px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.login-nav {
  width: 100px;
  height: 40px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: var(--secondary-color);
  border: 1.5px solid var(#c5ccd8);
}

.login-nav a {
  color: #fff !important;

  /* Label 1 */
  font-size: 14px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.nav-next {
  display: flex;
  justify-content: flex-start;
  margin-top: 47px;
}

.forward-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 56px;
  border-radius: 8px;
  padding: 0px 16px 0px 16px;
  cursor: pointer;
  background: var(--button-disabled);
  box-shadow: 0px 12px 30px 0px rgba(247, 247, 247, 0.08);
  text-decoration: none;
}

.forward-nav a {
  color: var(--typography-disable, #939dae);

  /* Label 1 */
  font-size: 14px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
/* Global end */

/* Basic info section */
.basic-info{
  padding-bottom: 10px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 50px;
}

.header h1 {
  color: var(--typography-primary, #0b1323);
  margin-bottom: 16px;
  /* H1 */
  font-size: 32px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.header p {
  color: var(--typography-secondary, #525d73);
  font-size: 16px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.subtitle {
  color: var(--typography-primary, #0b1323);

  /* Title 3 */
  font-size: 20px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 72px;
  margin-bottom: 43px;
}

.form-inline .form-group {
  margin-right: 10px;
}

.question {
  display: none;
}

#loan-success {
  display: none;
}

.button-group {
  margin-bottom: 30px;
}

.btn-outline-primary {
  width: 240px;
  height: 56px;
  border-radius: 10px;
  border: 2px solid var(--outline, #C5CCD8) !important;
  margin-right: 10px;
  color: var(--typography-primary, #0b1323) !important;
  text-align: center;

  /* TItle 5 */
  font-size: 16px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.btn-outline-primary:hover{
  background: none !important;
}

.apply-btn {
  width: 160px;
  height: 110px;
  margin-right: 10px;
  text-align: center;
  background: #fff;
  box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.08);

  /* TItle 5 */
  font-size: 16px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.fa-tag {
  justify-content: center;
  color: var(--blue, #000000);
  font-size: 36px;
}

.container-checkbox input {
  width: 20px !important;
  height: 20px !important;
}

.container-checkbox {
  color: var(--typography-primary, #0b1323);

  /* Body 1 */
  font-size: 20px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.form-group {
  margin-left: 15px;
}
/* Basic info section */


/*Owner info section */
.form-column{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input{
  border-radius: 8px !important;
}

.name input{
  padding: 24px 10px !important;
}

.terms{
  display: flex;
  flex-direction: column;
  gap: 0px;
}
.tc{
  display: inline-flex;
  align-items: flex-start;
  gap: 10px;
  padding-left: 5px;
}

.tc input{
  margin-top: 7px !important;
}

.highlight{
  text-decoration: underline;
  color: #1635C3
}

.vef-code{
  display: flex;
  gap: 8px;
  font-size: 12px;
}

.state-container{
  margin-left: 1px !important;
}

.header h6{
  color: #525D73;
  align-self: stretch;
  font-weight: normal;
  letter-spacing: 1px;
}

.option-container{
  margin-left: 1px !important;
  gap: 19px;
}

select{
  border-radius: 8px !important;
}

span{
  cursor: pointer;
}

.business-location{
  margin-left: 1px !important;
}

.new-icon input{
  border: none !important;
}

.new-icon{
  border: 1px solid #b0adad;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 8px;
}

.new-icon p{
  margin: auto 0px;
}

.icon-info{
  margin: auto;
  width: 20px;
  cursor: pointer;
}
.new-icon-small{
  border: 1px solid #b0adad;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-radius: 8px;
  gap: 0px;
}

.icon-info-small{
  margin: auto 10px;
  margin-left: 0px;
}

.new-icon-small input{
  border: none !important;
}

.new-icon-small-content{
  display: flex;
  gap: 5px;
  border-left: 1px solid;
}

.new-icon-small-content p{
  padding-top: 15px;
}

.focus:focus{
  border: none;
}

.information{
  display: inline-flex;
  height: 644px;
  padding: 24px;
  align-items: flex-start;
  gap: 40px;
  flex-shrink: 0;
}

.owner{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  border-radius: 16px;
  background: #FFF;
  box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.08);
  height: 70vh;
  overflow-y: auto;
}

.owner::-webkit-scrollbar{
  width: 6px;  
}

.owner::-webkit-scrollbar-track{
  background-color: #F4F7FA
}

.owner::-webkit-scrollbar-thumb{
  background-color: #1635C3;
  border-radius: 100px;
  
}

.owner h3{
  color: var(--blue, #1635C3);
  font-size: 24px;

  /* Label 1 */
  font-size: 14px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.label-input{
  display: flex;
  width: 90%;
  padding: 7px 16px;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  border: 1px solid var(--outline, #C5CCD8);
  margin: 0px auto;
}

.innput-content{
  display: flex;
width: 280px;
flex-direction: column;
align-items: flex-start;
}

.input-content p{
  margin-bottom: 0 !important;
}
/*business-info section end*/


/*submit*/

.submit2{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.submit2-col{
  display: column;
  gap: 30px;
  align-items: center;
  justify-content: start;
}

.submit2-col p{
  color: var(--typography-primary, #0B1323);
/* Title 3 */
  font-size: 20px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 8px;
}

.submit2-line{
  display: flex;
  flex-direction: column;
  gap: 25px !important;
  align-items: center;
  justify-content: start;
  padding-top: 5px;
}

.submit2-row{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding-top: 1px;
}

.line{
  height: 4px;
  width: 200px;
  border-radius: 100px;
  background: var(--success, #188F1E);
  flex: 1 0 0;
  position: relative;
}

.line-two{
  height: 4px;
  width: 200px;
  border-radius: 100px;
  background: var(--outline, #C5CCD8);
  flex: 1 0 0;
  position: relative;
  z-index: 9;
}

.line-two::after{
  position: absolute;
  content: "";
  z-index: -1;
  top: 0;
  right: 50%;
  bottom: 0;
  left: 0;
  background: var(--success, #188F1E);
  border-radius: 100px;
}

.line-three{
  height: 4px;
  width: 200px;
  border-radius: 100px;
  background: var(--outline, #C5CCD8);
  flex: 1 0 0;
}

/* Login */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form {
  display: flex;
  width: 560px;
  height: 600px;
  padding: 40px 64px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 40px;
  background: #fff;
  box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.08);
  padding: 40px;
}

.login-form img {
  max-width: 100%;
  margin-bottom: 30px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  font-weight: bold;
}

.form-group input {
  height: 56px;
  width: 320px;
  padding: 10px;
  border-radius: 4px;
  border-radius: 10px;
  border: 1px solid var(--outline, #c5ccd8);
}

.form-group button {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: #ffffff;
  font-weight: bold;
}

.submit {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  align-self: stretch;
  margin-top: 30px;
}

.submit label input {
  display: flex;
  justify-content: center;
  margin-right: 10px;
  flex-direction: column;
}

.submit label {
  color: var(--typography-primary, #0b1323);

  /* Body 2 */
  font-size: 16px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.submit input {
  display: flex;
  width: 20px;
  height: 20px;
  align-items: flex-start;
  gap: 10px;
}

.submit button {
  display: flex;
  height: 48px;
  width: 108px;
  padding: 0px 24px;
  justify-content: center;
  border-radius: 8px;
  align-items: center;
  background: var(--secondary-color);
  border: none;
  color: #fff;

}
/* login screen end */

@media (max-width: 768px) {
  .login-image{
    display: none;
  }

  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-form {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: #fff;
    box-shadow: none !important;  
  }
}

@media (min-width: 768px) and (max-width: 1110px) {
  .login-image{
    display: none;
  }

  .login-container{
    width: 100% !important;
    margin: auto !important;
    overflow-x: hidden;
  }
}