




@media (max-width: 1200px){
  .sidebar-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    padding-right: 24px;
    padding-left: 24px;
  }
  .nav-item {
    width: 100%;
  }
  .sidebar-logo {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .sidebar_menu {
    width: 100%;
  }
}
@media (max-width: 790px){
  .backward-nav{
    width: 120px;
  }
  .forward-nav{
    width: 120px;
  }
}

@media (max-width: 786px){
  .sidebar-section {
    width: 35%;
    height: 100vh;
    overflow: auto;
    padding-right: 24px;
    padding-left: 24px;
    position: fixed;
    display:none;
  }
  .back{
    visibility: hidden;
  }
 .main-section {
    width: 100%;
    height: 854px;
    padding-left:24px;
    padding-right: 24px;
  }
  .active{
    display: block;
  }
  .setting {
    margin-top: 30px!important;
  }
  .backward-nav{
    width: 124px;
  }
  .forward-nav{
    width: 124px;
    float: right;
  }
}

@media (min-width: 787px){
    .progressbar{
      display: none;
    }

}

@media (max-width: 576px){
  body{
    background: #F0EEDE !important;
  }
  .sidebar-section { 
    width: 75%;
    height: 100vh;
  }
  
  /* for basic*/
  [custom-xn]{
    background: #FFFFFF !important;
    border-radius: 5px;
    padding: 1px 20px 10px;
  }
  [custom-xn]:hover{
    border: 2px solid #007bff !important;
  }

  h1 {
    color: var(--typography-primary, #0b1323);
    margin-bottom: 16px;
    font-size: 21px !important;
    margin-top: 20px !important;
    text-align: center;
  }
  h2{
    font-size: 1rem !important;
  }
  p{
    font-size: 12px !important;
  }

  select {
    border-radius: 8px !important;
    padding-top: 2px !important;
    margin-bottom: 20px;
  }
  .name input {
    padding: 10px !important;
  }
}

@media (max-width: 376px){
  .nav-item {
    width: 100%;
  }
  .sidebar-logo {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: auto;
  }
  
  .backward-nav{
    width: 100%;
    float: left;
  }
  .forward-nav{
    width: 100%;
    float: right;
  }
}

@media (max-width: 376px){
 
  .backward-nav{
    width: 30%;
    float: left;
  }
  .forward-nav{
    width: 30%;
    float: right;
  }

}

/*submit*/
@media (max-width: 1080px){
  .col-10{
    max-width: 100% !important;
  }
  .line, .line-two {
    height: 4px;
    width: 150px;
  }
} 
@media (max-width: 920px){
   .submit-1 {
    margin-left: -49px; 
  } 
  .col-10{
    max-width: 100% !important;
  }
  .col-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    margin-right: 48px;
    margin-right: -1px;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
 
  }
}

@media (max-width:860px){
  .col-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .submit2-row {
    padding-top: 15px;
  }

}

@media (max-width:799px) {
      .submit2-row {
        padding-top: 15px;
        margin-top: 5px;
      }
}  
 
@media (max-width: 786px){
  .col-10{
    max-width: 100% !important;
    margin-left: 5px;
  }
  .submit2-row {
    padding-top: 0px;
    margin-top: 0px;
  }
  .line, .line-two {
    height: 4px;
    width: 150px;
  }

} 

@media (max-width: 660px){
  .submit2{
    margin-right: 40px;
  }
}

@media (max-width: 578px){
  .submit2-col p{
    font-size: 18px !important;
  }
}

@media (max-width: 533px){
  .submit2-col p{
    font-size: 16px !important;
  }
  .submit2-row {
    padding-top: 5px;
    margin-top: -5px;
  }
  .col-6{
    margin-right: 8px;
    margin-right: -1px;
  }
  .row {
    display: flex;
    flex-wrap: wrap;

  }
  .line, .line-two {
    height: 4px;
    width: 120px;
  }
}
@media (max-width:485px){
  .col-6{
    margin-right:  40px;
    margin-right: -1px;
  }
  .row {
    display: flex;
    flex-wrap: wrap;

  }
  .submit2-line {
    padding-top: 9px;
    margin-top: 6px;
  }
}

 @media (max-width:450px){
  .submit2-row {
    padding-top: 5px;
    margin-top: -13px;
    margin-right: -74px;
  }
  .col-6{
    margin-right: 40px;
    margin-right: -1px;
  }
  .row {
    display: flex;
    flex-wrap: wrap;

  }
  .submit2-line {
    display: flex;
    flex-direction: column;
    gap: 55px !important;
    align-items: center;
    justify-content: start;
  }
}

@media (max-width:379px){
  .submit2 {
    margin-right: 63px;
    margin-left: -29px;
  }
  .submit-12 {
    width: 90px;
    float: right;
    margin-right: 33px;
  }
  .col-6{
    max-width: 89%;
  }
}