/* Reset default styles to ensure consistent rendering across browsers */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

/* Colors */
:root {
  --primary-color: #ffc61e;
  --secondary-color: #1635c3;
  --text-color: #fff;
}

body {
  font-family: Montserrat, sans-serif;
}

/* h1,
h2,
h3 {
  font-weight: bold;
  color: var(--primary-color);
} */

/* Spacing */
.mt-5 {
  margin-top: 5px;
}

.mb-5 {
  margin-bottom: 5px;
}

/* header */
.navbar-brand img {
  width: 366.638px !important;
  height: 32px !important;
  flex-shrink: 0 !important;
}

.navbar-toggler{
  border: none !important;
}

.title4 {
  color: var(--typography-secondary, #525d73) !important;
  /* Title 4 */
  font-size: 16px !important;
  font-family: Montserrat;
  font-weight: 900 !important;
}

.custom-button {
  display: flex;
  height: 38px;
  padding: 0px 16px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  border: 2px solid var(--outline, #c5ccd8);
  color: var(--blue, #1635c3);
  background-color: transparent;

  /* Label 1 */
  font-size: 14px;
  font-family: Montserrat;
  font-weight: 500;
}

.withblue {
  border-radius: 8px;
  background: var(--blue, #1635c3);
  color: #fff;

  /* Label 1 */
  font-size: 14px;
  font-family: Montserrat;
  font-weight: 700;
}
/* header */

/* hamburger */
.hidden{
  display: none;
}
.hamburger-menu{
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  background: #FFF;
  z-index: 100;
  flex-direction: column;
  gap: 30px;
}

.ham-logo{
  display: flex;
  width: 600px;
  background: #FFF;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 14px 0px;
}

.ham-img{
  width: 100% !important;
  padding-left: 0px;
}

.close{
  width: 50px;
}

.line-hz2{
  margin-top: 6px;
  width: 100%;
  height: 1px;
  background-color: #dcdbdb;
}

.hamburger-ul{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 0px 20px;
}

.hamburger-ul li{
  font-size: 18px;
  color: #333;
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  align-self: stretch;
  border-bottom: 1px solid #333;
}

.ham-info{
  font-size: 14px;
  color: #333;
  margin-left: 20px;
}

.ham-btn-ul{
  display: inline-block;
  list-style-type: none;
  width: 50%;
  flex-direction: row !important;
  gap: 10px;
  margin-left: 20px;
}

/* hamburger end */

/* hero-section */

.hero-section {
  display: flex;
  width: 100%;
  padding: 0px 0px 80px 0px;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.hero-section a {
  text-decoration: none;
}

.text-button {
  padding: 80px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
  width: 50%;
}

.display2 {
  color: var(--typography-primary, #0b1323);
  /* Display 2 */
  font-size: 40px;
  font-family: Montserrat;
  width: auto;
  font-weight: 500;
}

.text-button h5 {
  margin-bottom: 20px;
  font-weight: normal;
}

.certified p {
  font-size: 20px;
}

.certified span {
  font-weight: bold;
}

.certified img {
  width: 200px;
}

.right {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  flex: 1 0 0;
  align-self: stretch;
}

.button-light {
  display: flex;
  width: 282px;
  height: 56px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  border-radius: 8px;
  background: var(--blue, #1635c3);
  color: var(--text-color);
  border: none;

  /* Label 1 */
  font-size: 14px;
  font-family: Montserrat;
  font-weight: 500;
}

.button-light a {
  text-decoration: none;
}
/* hero-section end */

/* exchange section */
.exchange-section {
  margin-bottom: 50px;
}
.exchange-card {
  display: flex;
  padding: 20px 40px;
  width: 78%;
  margin: auto;
  align-items: center;
  gap: 3rem;
  border-radius: 24px;
  background: #fff;
  box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.08);
}

.exchange {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.title {
  display: inline-flex;
  gap: 5px;
}

.title img {
  padding: 0.5rem;
  border-radius: 150px;
  background: #0057c2;
  color: #fff;
}

.cad {
  display: flex;
  padding: 0.5rem;
  border-radius: 8px;
  background: var(--secondary-color) !important;
  color: var(--text-color) !important;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  outline: none !important;
}

.exc-p {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  color: var(--typography-secondary, #525d73);
  font-size: 12px;
  font-family: Montserrat;
}

.line {
  width: 1px;
  height: 120px;
  align-self: stretch;
  background-color: #333;
}

.exchange-btn {
  display: flex;
  padding: 10px 30px;
  border-radius: 8px;
  border: none;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
  font-size: 13px;
  background-color: var(--secondary-color);
  color: var(--text-color);
}

.exc{
  margin-left: -4%;
}

/* exchange section */

/* statistics section start */
.statistics{
  display: none;
}
/* statistics section end */

/* how moneybee works start */

.info {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.steps {
  display: flex;
  align-items: center;
  gap: 30px;
}

.circle {
  display: flex;
  width: 75px;
  height: 75px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 100px;
  background: var(--surface, #f4f7fa);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  color: var(--secondary-color);
  font-size: 25px;
}

.steps h6 {
  font-size: 18px;
}

/* how moneybee works end*/

/* softphone start*/
.softphone {
  display: flex;
  width: 100%;
}

.softphone_content {
  width: 50%;
  font-size: 20px;
  margin-top: 120px;
}

.softphone_content h2 {
  background: -webkit-linear-gradient(
    180deg,
    #1b0892,
    #960dac,
    #ff95f0,
    #fad450
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  padding-left: 6px;
}

.softphone_content p {
  padding-left: 10px;
}

.name {
  background-color: white;
  display: flex !important;
  align-items: center !important;
  margin-bottom: 7px !important;
  border-radius: 4px !important;
  margin-top: 5% !important;
  padding-left: 20px !important;
}

input {
  width: 100%;
  background: transparent;
  border: none !important;
  outline: none;
  padding: 18px !important;
  padding-left: 14px;
  font-size: 16px !important;
  box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.1);
}
.submit {
  padding-left: 21px !important;
  padding-bottom: 5px;
}
.btn-purple {
  border-radius: 6px;
  background: rgba(108, 87, 239, 0.97);
  padding: 12px 25px;
  border: none;
  font-size: 14px;
  color: var(--text-color);
  font-weight: 500;
}

.softphone_image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0;
  width: 50%;
}
.softphone_image img {
  width: 600px;
}

.softphone_image p {
  margin: auto;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  width: 50%;
}

.expert {
  display: flex;
  justify-content: center !important;
  align-items: center;
  margin-right: 20px;
}

/* softphone end*/

/* slider &  client card */
.client {
  text-align: center;
  margin-top: 60px;
}
.slider {
  position: relative;
  height: 100%;
}

.slides {
  display: flex;
  gap: 30px;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.slides::-webkit-scrollbar{
  display: none;
}

.radio{
  display: none;
}

.card {
  scroll-snap-align: start;
  box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.08);
  display: flex;
  width: 400px;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  border-radius: 16px;
  background: #fff;
  border: none !important;
  height: 600px;
  position: relative;
}

.abs{
  margin-left: -60%;
}

.star-icon {
  display: flex;
  gap: 5px;
  margin-top: 20px;
  justify-content: start;
  align-items: start;
  width: 100%;
  margin-left: 55px;
  margin-bottom: 5px;
}

.card p {
  margin-left: 30px;
  margin-top: 5px;
}

.line-hz {
  width: 100%;
  height: 1px;
  background-color: #dcdbdb;
}

.employee {
  padding: 10px 0px;
  padding-top: 15px;
  display: inline-flex;
  justify-content: start;
  align-items: start;
  gap: 15px;
  width: 100%;
  padding-left: 30px;
}

.employee p {
  margin-left: 0;
  margin-top: 0;
  font-weight: 500;
}

.employee span {
  color: #706a6a;
  font-weight: 500;
}

.dots {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.dots label {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #8b8b8b;
  margin: 0 5px;
  cursor: pointer
}

/* client card end*/

/* call_to_action start */
.call_action-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 60px 0px;
}

.left1 {
  display: flex;
  padding: 10px;
  align-items: flex-start;
  gap: 10px;
  flex: 1 0 0;
  align-self: stretch;
  width: 50%;
}
.right2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;
  flex: 1 0 0;
  align-self: stretch;
  width: 50%;
}

.text-button2 {
  padding: 80px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 32px;
  align-self: stretch;
  width: 100%;
}

.text-button2 h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2;
  color: var(--typography-primary, #0b1323);
  margin: 0;
  margin-bottom: 24px;
  font-family: Montserrat;
}

.text-button2 h5 {
  margin-bottom: 20px;
  font-weight: normal;
}

.button-light2 {
  display: flex;
  margin-top: 48px;
  border: none;
  text-decoration: none;
}

.subcribe {
  display: flex;
  height: 56px;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 8px;
  width: 282px;
  background: var(--blue, #1635c3);
  color: #FFF;
  border: none;
  margin-right: 24px;
  /* Label 1 */
  font-size: 14px;
  font-family: Montserrat;
  font-weight: 500;
}

.call_us{
  display: flex;
  height: 56px;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 8px;
  width: 282px;
  color: var(--blue, #1635c3);
  border: 1px solid var(--white, #46474d);

  /* Label 1 */
  font-size: 14px;
  font-family: Montserrat;
  font-weight: 500;
}

/* call_to_action end */

/* footer */
.row-footer {
  display: flex;
  padding: 24px 156px;
  justify-content: space-around;
  align-items: center;
  background: var(--blue, #1635c3);
}
.footer-left{
  display: flex;
  margin: 0;
  color: #fff;
  font-size: 20px;
  font-family: Montserrat;
  font-weight: normal;
  gap: 20px;
}

.footer-left p{
  padding-top: 7px;
}

.social-media-icons {
  list-style-type: none;
  display: inline-flex;
  gap: 30px;
}
.social-media-icons li:last-child {
  margin-right: 0;
}
.social-media-icons a {
  color: #ffffff;
  font-size: 26px;
}
.social-media-icons a:hover {
  color: #ffffff;
}
/* Add Font Awesome CSS link to your HTML file */
/* footer */


/*Media Query*/
/* Mobile devices */
@media (max-width: 767px) {

  html, body{
    overflow-x: hidden;
  }

  /* header */
  .navbar-brand img{
    width: 200px !important;
  }

  /* hero section */
  .hero-section {
    flex-direction: column;
    padding: 0px 0px 40px 0px;
    width: 100%;
    gap: 5px;
  }
  
  .text-button {
    width: 100%;
  }

  .button-light{
    width: 100%;
  }
  
  .right {
    justify-content: center;
    align-items: center;
    width: 85%;
  }

  /* exchange section */
  .exchange-card{
    flex-direction: column;
  }

  .exchange{
    padding: 0px 15px;
  }

  .line{
    width: 100%;
    height: 1px;
    align-self: stretch;
    background-color: #333;
  }

  /* steps */

  .irr-circle{
    display: flex;
    width: 75px;
    height: 75px;
    padding: 10px 30px !important;
    margin-bottom: 10px;
    border-radius: 100px;
    background: var(--surface, #f4f7fa);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0rem;
    color: var(--secondary-color);
    font-size: 25px;
  }

  /* sofphone */
  .softphone{
    flex-direction: column;
    display: none;
  }

  .softphone_content{
    width: 100%;
  }

/* .statistics */
  .statistics{
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 20px;
  }

  .statistics h5{
    font-size: 42px;
    letter-spacing: 1px;
    font-weight: 500; 
  }

  .statistics_card{
    display: flex;
    padding: 16px 0px;
    padding-left: 20px;
    border-radius: 24px;
    width: 90%;
    margin: auto;
    background: #FFF;
    align-items: center;
    gap: 25px;
    box-shadow: 2px 2px 16px 1px rgba(0, 0, 0, 0.08);
  }

  .text{
    display: flex;
    flex-direction: column;
  }

  .text h6{
    font-size: 22px;
    
  }
  .text p{
    font-size: 22px;    
  }

/* testimonial */
  .client{
    font-size: 40px;
  }

  .card{
    width: 90%;
  }

  /* call to action */
  .call_action-section{
    flex-direction: column-reverse;
  }

  .left1{
    width: 100%;
  }

  .right2{
    width: 100%;
  }

  .button-light2{
    flex-direction: column;
    gap: 20px;
  }

  .subcribe, .call_us{
    width: 100% !important;
  }

  /* footer */
  .row-footer{
    flex-direction: column-reverse;
    padding: 24px 0px;
    width: 100%;
  }

  .footer-left{
    flex-direction: column;
    text-align: center;
    gap: 1px;
  }


  .social-media-icons{
    margin-right: 25px;
  }


}

@media (min-width: 545px) and (max-width: 768px) {
  .navbar-brand img{
    width: 300px !important;
  }
}
  
@media (max-width: 1110px) {
  /* hero section */
  .hero-section {
    flex-direction: column;
    padding: 0px 0px 40px 0px;
    width: 100%;
    gap: 5px;
  }
  
  .text-button {
    width: 100%;
  }

  .button-light{
    width: 100%;
  }
  
  .right {
    justify-content: center;
    align-items: center;
    width: 85%;
  }

  /* exchange section */
  .exchange-card{
    flex-direction: column;
    padding: 8px 0px;
    gap: 18px;
  }

  .line{
    width: 80%;
    height: 1px;
    align-self: stretch;
    background-color: #333;
    margin: auto;
  }

  .call_action-section{
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }

  .left2, .right2{
    width: 100%;
  }

  .subcribe, .call_us{
    width: 100% !important;
  }

  .left1{
    align-items: center;
    width: 100%;
  }

  .left1 img{
    width: 100%;
  }
}

@media (max-width: 1070px) {

  .softphone{
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }

  .softphone_content{
    width: 100%;
  }

  .softphone_image{
    width: 100%;
    gap: 10px;
  }
}